{% extends "list_template.html" %}
{% block table %}
<thead>
    <tr>
        <td>Razon Social</td>
        <td>Rif</td>
        <td>Logo</td>
        <td>Teléfonos</td>
        <td>Acciones</td>
    </tr>
</thead>
<tbody>
    {% for company in object_list %}
    <tr>
        <td>{{company.name}}</td>
        <td>{{company.rif}}</td>
        <td class="text-center">
            <img src="/media/{{ company.company_image }}" style="width: 150px; height: 150px;" >
        </td>
        <td>{{company.phone1}} \ {{company.phone2}}</td>
        <td>
            {% if request.user.is_staff %}
            <a href="{% url 'EditCompany' company.id %}" class="btn btn-info btn-circle btn-lg" >
                <i class="far fa-edit"></i>
            </a>
            {% endif %}
            <a href="{% url 'DetailCompany' company.id %}" class="btn btn-info btn-circle btn-lg">
                <i class="fas fa-info-circle"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endblock %}
