{% extends "create_edit_template.html" %}
{% load widget_tweaks %}
{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <div class="card-header">
        <a class="btn btn-outline-primary btn-lg" href="{% url 'ListProduct' %}"> Volver</a>
      </div>
      <div class="card-body">
        <div class="row">
          <form method="post" action="." enctype="multipart/form-data" class="validations">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}">
            <div class="row">
              <div class="col-md-10 col-md-offset-2">
                <div class="form-group">
                  <label for="{{form.name.name}}">{{form.name.label}}</label>
                  {{form.name|add_class:'form-control'}}
                </div>
              </div>
              <div class="col-md-4 col-md-offset-2">
                <div class="form-group">
                  <label for="{{form.product_type.name}}">{{form.product_type.label}}</label>
                  {{form.product_type|add_class:'form-control select2'}}
                </div>
              </div>
              <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                  <label for="{{form.measure_id.name}}">{{form.measure_id.label}}</label>
                  {{form.measure_id|add_class:'form-control select2'}}
                </div>
              </div>
              <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                  <label for="{{form.article_qty.name}}">{{form.article_qty.label}}</label>
                  {{form.article_qty|add_class:'form-control'}}
                </div>
              </div>
              <div class="col-md-10 col-md-offset-2">
                <div class="form-group">
                  <label for="{{form.product_image.name}}">{{form.product_image.label}}</label>
                  {{form.product_image|add_class:'form-control'}}
                </div>
              </div>
              <div class="col-md-10 col-md-offset-2">
                <div class="form-group">
                  <label for="{{form.description.name}}">{{form.description.label}}</label>
                  {{form.description|add_class:'form-control'}}
                </div>
              </div>
              <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                  <label for="{{form.active.name}}">{{form.active.label}}</label>
                  {{form.active|add_class:'form-check'}}
                </div>
              </div>
              <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                  <button type="submit" class="btn btn-outline-success btn-icon-split btn-lg">Guardar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
