{% extends "detail_template.html" %}

{% block button_back %}
<div class="card-header">
  <a href="{% url 'ListProductPackage' %}" class="btn btn-outline-primary btn-lg">
    <span class="text">Volver</span>
  </a>
</div>
{% endblock %}

{% block table %}
<thead>
  <tr>
    <td>Tipo de Producto</td>
    <td>Cantidad</td>
    <td>Unidad de Medida</td>
    <td>Piezas</td>
    <td>Cantidad por Unidad</td>
    <td>Cantidad Fija</td>
    <td>Ubicacion</td>
    <td>Descripcion</td>
    {% if user.is_staff %}
    <td>Usuario creador</td>
    <td>Fecha Creación</td>
    <td>Ultimo usuario en modificar</td>
    <td>Fecha Modificación</td>
{% endif %}
  </tr>
</thead>
<tbody>
  <tr>
    <td>{{object.product_id.product_type}}</td>
    <td>{{object.unit_qty}}</td>
    <td>
      {% if object.product_id.measure_id %}
          <a href="{% url 'DetailMeasurementUnit' object.product_id.measure_id.id %}" >{{object.product_id.measure_id.id}}</a>
      {% else %}
          N/A
      {% endif %}
    </td>
    <td>{{object.pieces}}</td>
    <td>{{object.unit_qty}}</td>
    <td>{{object.fixed_ammount}}</td>
    <td>{{object.location_id.name}}</td>
    <td>{{object.description}}</td>
    {% if user.is_staff %}
      <td>{{object.user_creator.first_name}} {{object.user_creator.last_name}}</td>
      <td>{{object.date_created}}</td>
      <td>{{object.user_updater.first_name}} {{object.user_updater.last_name}}</td>
      <td>{{object.date_updated}}</td>
    {% endif %}
  </tr>
</tbody>
{% endblock %}
{% block lines %}
  {% include "stock_move/lines/Move_Lines.html" %}
  {% include "products_package/lines/Product_Packages_Lines.html" %}
{% endblock %}
