{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    {% include "headers/create_edit_header.html" %}
    <!-- Sweetalert2 -->
    <script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>
    <link href="{% static 'css/logos.css' %}" rel="stylesheet">
</head>
<body>
    <div class="logos-login-container">
        <div class="row justify-content-center">
          <div class="col-xl-50 col-lg-4 col-md-50">
              <div class="login-logo">
                  <a href="#"><b>Logos</b>ERP</a>
                </div>
                 <div>
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Restaurar Contraseña</h1>
                  </div>
                  <hr>
                  <form method="post" class="validations">
                    <input type="hidden" name="action" value="{{ action }}">
                      {% csrf_token %}
                    <div class="form-group">
                      {{form.username|add_class:'form-control'|attr:'placeholder: Introduzca su nombre de usuario'}}
                    </div>
                        <button type="submit" class="btn btn-block btn-outline-success">Restaurar Contraseña</button>
                  </form>
                  <hr>
                </div>
              </div>
        </div>
      </div>
    <script type="application/javascript">
        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}
    </script>
</div>
{% load sweetify %}
{% sweetify %}

</body>
</html>

