{% extends "list_template.html" %}
{% block buttons_create %}
<div class="card-header">
    <a href="{% url 'CreateStockLocation' %}" class="btn btn-outline-success btn-icon-split btn-lg">
        <span class="text">Crear Nueva Ubicación</span>
    </a>
</div>
{% endblock %}

{% block table %}
<thead>
    <tr>
        <td>Código</td>
        <td>Nombre</td>
        <td>Tipo de Ubicación</td>
        <td>Activo</td>
        <td>Descripción</td>
        <td>Acciones</td>
    </tr>
</thead>
<tbody>
    {% for location in object_list %}
    <tr>
        <td>{{location.code}}</td>
        <td>{{location.name}}</td>
        <td>{{location.location_type}}</td>
        <td>{{location.active}}</td>
        <td>{{location.description}}</td>
        <td>
            <a href="{% url 'EditStockLocation' location.id %}" class="btn btn-info btn-circle btn-lg" >
                <i class="far fa-edit"></i>
            </a>
            <a href="{% url 'DetailStockLocation' location.id %}" class="btn btn-info btn-circle btn-lg" >
                <i class="fas fa-info-circle"></i>
            </a>
            <a href="{% url 'DeleteStockLocation' location.id %}" class="btn btn-danger btn-circle btn-lg">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endblock %}